name: Build and Push Docker image

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      # (Opcional) Set up Docker Buildx (para cache y multiplataforma)
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Login a Docker Hub o tu registry
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Build y push la imagen usando Dockerfile de src/RecipeProject.Api/Dockerfile
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: src/RecipeProject.Api/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/sistema-gestion-recetas:latest
          build-args: |
            JWT_KEY=${{ secrets.JWT_KEY }}
            JWT_ISSUER=${{ secrets.JWT_ISSUER }}
            JWT_AUDIENCE=${{ secrets.JWT_AUDIENCE }}

      # (Opcional) Limpia el runner
      - name: Clean up
        run: docker system prune -af
